.card {
  width: 15rem;
  padding: 20px 15px;
  /* background: #0069d9; */
  border-radius: 1rem;
  transition: all 0.2s ease;
}

.card:hover,
.card.active {
  background-color: #0069d9;
  color: #fff;
}

.imageStyle {
  /* add your styles here */
  width: 100%;
  height: auto;
}

.title {
  /* add your styles here */
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
