rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /books/{bookId} {
      allow read, write;
    }
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth.uid != null && request.auth.uid == userId;
    }
    match /usernames/{usernameId} {
      allow read;
      allow write: if request.auth.uid != null && request.auth.uid == usernameId;
    }
  }
}