.login,
.register {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  display: flex;

  .booksLeftContainer {
    width: 70vw;
    margin-left: 5rem;

    .booksContainer {
      margin-right: 20%;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    width: 80vw;
    margin: auto;

    .booksLeftContainer {
      width: 100%;
      margin: 0;

      .booksContainer {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
