.login,
.register {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  display: flex;

  .booksLeftContainer {
    width: 75vw;

    .booksContainer {
      margin-right: 20%;
      margin-left: 10%;
    }
  }
}
