.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fdfdfd;
  width: 90%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  transition: width 0.3s ease;

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}

.navigation__logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;

  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.navigation__menu {
  display: flex;
  align-items: center;
  padding-left: 10%;

  @media only screen and (max-width: 768px) {
    // display: none;
  }
}

.navigation__menu-item {
  margin-right: 20px;
  padding: 10px;
  color: #333;
  cursor: pointer;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #4a80f0;
    }
  }

  @media only screen and (max-width: 768px) {
    margin-right: 10px;
  }
}

.navigation__search {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;

  @media only screen and (max-width: 768px) {
    margin-top: 20px;
    margin-right: 1rem;
  }
}

.navigation__search-input {
  padding: 15px 15px 15px 20px;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  width: 200px;
  margin-right: 8px;

  &::placeholder {
    color: #a3a2a2;
    text-align: left;
  }

  @media only screen and (max-width: 768px) {
    padding: 10px;
    width: 100%;
    margin-right: 0;
  }
}

.navigation__search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 20px;

  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}

.navigation li {
  list-style: none;
}

.open-sidebar {
  margin-right: 20px;

  @media only screen and (max-width: 768px) {
    margin-right: 10px;
  }
}

.open-right-sidebar {
  width: 75%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.disable-decorations {
  text-decoration: none;
  color: #333;
}
