$border-color: #171717;
$shadow-color: #969696;
$background-color: whitesmoke;
$box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;

.authForm {
  width: 30rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 2.5em;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    box-shadow: $box-shadow;

    &:active {
      transform: translate(-0.5em, -0.5em);
      border: 1px solid $border-color;
      box-shadow: 10px 10px 0px $shadow-color;
    }

    .heading {
      color: black;
      padding-bottom: 2em;
      text-align: center;
      font-weight: bold;
    }

    input.input {
      border-radius: 5px;
      border: 1px solid $background-color;
      background-color: $background-color;
      outline: none;
      padding: 0.7em;
      transition: 0.4s ease-in-out;

      &:hover {
        box-shadow: 6px 6px 0px $shadow-color, -3px -3px 10px #ffffff;
      }

      &:focus {
        background: #ffffff;
        box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
      }

      &:disabled {
        background-color: #969696;
        color: white;
        cursor: not-allowed;
      }
    }

    button.btn {
      margin-top: 2em;
      margin-bottom: 1rem;
      align-self: center;
      padding: 0.7em 1em;
      border-radius: 10px;
      border: none;
      color: black;
      transition: 0.4s ease-in-out;
      box-shadow: $box-shadow;

      &:hover {
        box-shadow: 6px 6px 0px $shadow-color, -3px -3px 10px #ffffff;
        transform: translate(-0.5em, -0.5em);
      }

      &:active {
        transition: 0.2s;
        transform: translate(0, 0);
        box-shadow: none;
      }

      &:disabled {
        background-color: #969696;
        color: white;
        transform: translate(0, 0);
        cursor: not-allowed;
      }
    }

    a.link {
      text-decoration: underline;
      color: black;
    }
  }
}
