// DetailsBook.module.scss
$button-container-width: 80%;
$mobile-breakpoint: 768px;

.pageContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5rem;

  // Zmiana na jedną kolumnę dla urządzeń mobilnych
  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
  }

  .leftContainer {
    grid-column: 1 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;

    .imageContainer {
      width: 100%;
      max-width: 300px;
      margin-bottom: 2rem;
    }

    .buttonGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      margin-bottom: 2rem;
    }
  }

  .rightContainer {
    grid-column: 2 / span 1;
    margin-right: 2rem;

    @media screen and (max-width: $mobile-breakpoint) {
      margin: 0 1rem;
    }

    h1 {
      margin: 0;
    }

    h3 {
      margin-bottom: 0;
    }

    .reviewSection {
      margin-top: 2rem;
    }
  }
}

.button {
  width: $button-container-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #4a80f0;
  color: white;
}

.innerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftItem {
  flex-shrink: 0;
}

.centerItem {
  flex-grow: 1;
}

.rightItem {
  flex-shrink: 0;
}

.buttonText {
  font-size: 1.2rem;
  text-align: center;
}
