.button {
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: #4a80f0;
  color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.button:hover {
  background-color: #262b47;
  box-shadow: none;
  cursor: pointer;
}

.button:active {
  background-color: #25417a;
}
