:root {
  --primary-color: #4a80f0;
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --text-color-light: #666;
  --text-color-lighter: #999;
  --text-color-lightest: #b2b2bc;
}

.book-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 100%;
}

.book-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.image-container {
  height: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.book-author {
  font-size: 1rem;
  margin: 5px 0;
}

.book-card-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.book-card-info p {
  font-size: 1rem;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-lightest);
}

.book-card-info strong {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.book-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.book-button {
  padding: 5px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.book-button:hover {
  background-color: #0069d9;
  cursor: pointer;
}

@media (min-width: 768px) {
  .book-card {
    flex-direction: row;
  }

  .book-details {
    flex: 1;
    padding: 20px;
  }

  .book-card-info {
    margin: 0;
  }

  .book-button-container {
    padding: 0;
  }

  .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .book-title {
    margin-top: 1rem;
  }
}
